@font-face {
  font-family: dana;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/dana-medium.woff2")
    format("woff2");
  font-weight: normal;
}

body {
  font-family: dana !important;
}

[dir="auto"] {
  text-align: start !important;
}

[mtype],
.zcmsg-thread {
  max-width: 900px;
}
[msgtype="msg"],
pre .global-rtl,
span .global-rtl,
.global-rtl .textL,
.zcmsg-edt-inptbx {
  direction: rtl !important;
  text-align: start !important;
}

.quotedmsgsender {
  direction: ltr;
}

[msgtype="custommsg"],
.zchtmsgcnt {
  direction: ltr !important;
}

[mtype="20"] .textL {
  text-align: start;
}
